@media screen and (min-width: 768px) {
  /* -------Navbar-------- */
  .nav-bar--content {
    flex-direction: row;
    justify-content: center;
  }

  .nav-bar--group {
    flex-direction: row;
  }
  .nav-bar--content a {
    /* width: auto; */
    padding: 24px 16px !important;
    border-left: 1px solid var(--border-grey);
    border-right: 1px solid var(--border-grey);
  }
  .nav-bar--content a:last-child {
    border-left: none;
  }

  /* ----------About----------- */
  .bg-2grey {
    background-image: linear-gradient(
      to right,
      #f8f9fa 0%,
      #f8f9fa 50%,
      #f1f3f5 50%,
      #f1f3f5 100%
    );
  }

  /* ------Job----------- */

  #job-info .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    justify-content: center;
  }

  /*------------------ Certificate----------------- */
  .cert-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* row-gap: 48px; */
  }
  .cert-item {
    padding: 24px;
  }

  .cert-item:first-child,
  .cert-item:nth-child(2) {
    padding-top: 0;
    border-bottom: 1px solid var(--main-color);
  }
  .cert-item:first-child,
  .cert-item:nth-child(3) {
    padding-left: 0;
  }
  .cert-item:nth-child(2),
  .cert-item:nth-child(4) {
    padding-right: 0;
    border-left: 1px solid var(--main-color);
  }
  .cert-item:nth-child(3),
  .cert-item:nth-child(4) {
    padding-bottom: 0;
    border-bottom: none;
  }

  /*------------------ Project--------------- */
  .project-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    /* justify-content: space-between; */
  }

  /* Footer */
  #footer span {
    display: inline-block;
  }
}
